<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<f:section name="Main">
    <f:flashMessages />
    <div class="tx-hio-typo3-connector">
        <div class="flex items-stretch justify-between py-4 px-0">
            <h1 class="mt-2 font-normal text-3xl sm:text-4xl px-4">
                <f:translate key="person.index.title" extensionName="HioTypo3ConnectorWtl"/>
            </h1>
            <f:render partial="List/SearchForm" arguments="{action:'search', controller:'Person', searchTerm:searchTerm}" />
        </div>
        <f:render partial="Person/List" arguments="{action:'index', pagination:pagination, paginator:paginator, searchTerm:searchTerm}" />
    </div>
</f:section>

</html>
