<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{publications}">
        <div class="wtl-hio-mx-auto wtl-hio-w-full wtl-hio-grow wtl-hio-flex wtl-hio-flex-col md:wtl-hio-flex-row wtl-hio-gap-4 wtl-hio-mb-4">

            <div class="wtl-hio-bg-white wtl-hio-grow wtl-hio-flex-1 lg:wtl-hio-flex wtl-hio-rounded">
                <div class="wtl-hio-px-4 wtl-hio-py-6 sm:wtl-hio-px-6 lg:wtl-hio-pl-8 md:wtl-hio-flex-1 xl:wtl-hio-pl-6">
                    <h2 class="wtl-hio-font-normal wtl-hio-text-3xl sm:wtl-hio-text-4xl wtl-hio-border-b wtl-hio-border-gray-200 wtl-hio-pb-6 wtl-hio-mb-4 wtl-hio-h-0 sm:wtl-hio-h-auto wtl-hio-collapse sm:wtl-hio-visible">
                        <f:translate key="hio.show.person.publications" extensionName="HioTypo3ConnectorWtl" />
                    </h2>
                    <f:if condition="{settings.groupBy}  == none">
                        <f:then>
                            <f:render partial="SelectedPerson/PublicationList" arguments="{publications: publications, selectedCitationStyle: selectedCitationStyle}"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{groupedPublications}">
                                <f:render partial="SelectedPerson/GroupedPublicationList"
                                          arguments="{publications: groupedPublications, selectedCitationStyle: selectedCitationStyle}"/>
                            </f:if>
                            <f:if condition="{ungroupedPublications}">
                                <h3 class="wtl-hio-text-2xl xl:wtl-hio-text-3xl wtl-hio-font-semibold wtl-hio-text-left">
                                    <f:translate key="hio.show.person.ungroupedPublications" extensionName="HioTypo3Connector" />
                                </h3>
                                <f:render partial="SelectedPerson/PublicationList"
                                          arguments="{publications: ungroupedPublications, selectedCitationStyle: selectedCitationStyle}"/>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </div>

            <f:if condition="{settings.showTypeStatistics} || {settings.showCoAuthorshipStatistics}">
                <div class="wtl-hio-bg-white wtl-hio-shrink-0 wtl-hio-px-4 wtl-hio-py-6 sm:wtl-hio-px-6 lg:wtl-hio-w-96 lg:wtl-hio-pr-8 xl:wtl-hio-pr-6 wtl-hio-rounded wtl-hio-order-first sm:wtl-hio-order-last">
                    <h2 class="wtl-hio-font-normal wtl-hio-text-3xl sm:wtl-hio-text-4xl wtl-hio-border-b wtl-hio-border-gray-200 wtl-hio-pb-6 wtl-hio-mb-4 wtl-hio-visible sm:wtl-hio-hidden">
                        <f:translate key="hio.show.person.publications" extensionName="HioTypo3ConnectorWtl" />
                    </h2>
                    <f:if condition="{typeStatistics} && {settings.showTypeStatistics}">
                        <f:render partial="SelectedPerson/Publication/TypeStats" arguments="{typeStats: typeStatistics}"/>
                    </f:if>
                    <f:if condition="{coAuthorshipStatistics} && {settings.showCoAuthorshipStatistics}">
                        <f:render partial="SelectedPerson/Publication/CoAuthorshipStats" arguments="{coAuthorshipStats: coAuthorshipStatistics}"/>
                    </f:if>
                </div>
            </f:if>

        </div>
    </f:if>
</f:section>

</html>
