<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>
    <div class="wtl-hio-flex wtl-hio-items-stretch wtl-hio-justify-between wtl-hio-py-4 wtl-hio-px-0">
        <h1 class="wtl-hio-mt-2 wtl-hio-font-normal wtl-hio-text-3xl sm:wtl-hio-text-4xl wtl-hio-px-4">
            <f:translate key="orgUnit.show.title" extensionName="HioTypo3ConnectorWtl"/>
        </h1>
    </div>
    <f:if condition="{orgUnit.details}">

        <f:variable name="childCount" value="{orgUnit.details.children -> f:count()}" />
        <f:variable name="personCount" value="0" />
        <f:variable name="projectCount" value="{orgUnit.projects -> f:count()}" />
        <f:variable name="publicationCount" value="{orgUnit.publications -> f:count()}" />

        <div class="wtl-hio-bg-white wtl-hio-px-4 wtl-hio-py-6 lg:wtl-hio-p-8">
            <div class="wtl-hio-text-base/7 wtl-hio-text-gray-700">
                <h1 class="wtl-hio-mt-2 wtl-hio-text-pretty wtl-hio-text-4xl wtl-hio-font-semibold wtl-hio-tracking-tight wtl-hio-text-gray-900 sm:wtl-hio-text-5xl">
                    {orgUnit.title}</h1>
            </div>

            <div class="wtl-hio-mx-auto wtl-hio-mt-4">
                <div class="max-sm:wtl-hio-grid wtl-hio-grid-cols-1 sm:wtl-hio-hidden">
                    <select aria-label="Select a tab" id="tabs-mobile" class="wtl-hio-col-start-1 wtl-hio-row-start-1 wtl-hio-w-full wtl-hio-appearance-none wtl-hio-rounded-md wtl-hio-bg-white wtl-hio-py-2 wtl-hio-pl-3 wtl-hio-pr-8 wtl-hio-text-base wtl-hio-text-gray-900 wtl-hio-outline wtl-hio-outline-1 wtl-hio--outline-offset-1 wtl-hio-outline-gray-300 focus:wtl-hio-outline focus:wtl-hio-outline-2 focus:wtl-hio--outline-offset-2 focus:wtl-hio-outline-wtl-red-dark">
                        <option selected value="orgUnitChildren">
                            Organisationseinheiten
                            <f:if condition="{childCount} > 0">
                                ({childCount})
                            </f:if>
                        </option>
                        <option value="orgUnitPersons">
                            Personen
                            <f:if condition="{personCount} > 0">
                                ({personCount})
                            </f:if>
                        </option>
                        <option value="orgUnitProjects">
                            Projekte
                            <f:if condition="{projectCount} > 0">
                                ({projectCount})
                            </f:if>
                        </option>
                        <option value="orgUnitPublications">
                            Publikationen
                            <f:if condition="{publicationCount} > 0">
                                ({publicationCount})
                            </f:if>
                        </option>
                    </select>
                    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="wtl-hio-pointer-events-none wtl-hio-col-start-1 wtl-hio-row-start-1 wtl-hio-mr-2 wtl-hio-size-5 wtl-hio-self-center wtl-hio-justify-self-end wtl-hio-fill-gray-500 dark:wtl-hio-fill-gray-400">
                        <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                </div>

                <div class="max-sm:wtl-hio-hidden sm:wtl-hio-block">
                    <div class="wtl-hio-border-b wtl-hio-border-gray-200 dark:wtl-hio-border-white/10">
                        <nav aria-label="Tabs" id="tabs" class="wtl-hio--mb-px wtl-hio-flex wtl-hio-space-x-8">
                            <a href="#orgUnitChildren" aria-current="page" class="wtl-hio-flex wtl-hio-whitespace-nowrap wtl-hio-border-b-2 wtl-hio-px-1 wtl-hio-py-4 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-border-wtl-red wtl-hio-text-wtl-red hover:wtl-hio-text-wtl-red-dark hover:wtl-hio-border-wtl-red">
                                Organisationseinheiten
                                <f:render partial="Element/Badge" arguments="{label: childCount}" />
                            </a>
                            <a href="#orgUnitPersons" class="wtl-hio-flex wtl-hio-whitespace-nowrap wtl-hio-border-b-2 wtl-hio-border-transparent wtl-hio-px-1 wtl-hio-py-4 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-text-gray-600 hover:wtl-hio-text-gray-700 hover:wtl-hio-border-gray-300">
                                Personen
                                <f:render partial="Element/Badge" arguments="{label: personCount}" />
                            </a>
                            <a href="#orgUnitProjects" class="wtl-hio-flex wtl-hio-whitespace-nowrap wtl-hio-border-b-2 wtl-hio-border-transparent wtl-hio-px-1 wtl-hio-py-4 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-text-gray-600 hover:wtl-hio-text-gray-700 hover:wtl-hio-border-gray-300">
                                Projekte
                                <f:render partial="Element/Badge" arguments="{label: projectCount}" />
                            </a>
                            <a href="#orgUnitPublications" class="wtl-hio-flex wtl-hio-whitespace-nowrap wtl-hio-border-b-2 wtl-hio-border-transparent wtl-hio-px-1 wtl-hio-py-4 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-text-gray-600 hover:wtl-hio-text-gray-700 hover:wtl-hio-border-gray-300">
                                Publikationen
                                <f:render partial="Element/Badge" arguments="{label: publicationCount}" />
                            </a>
                        </nav>
                    </div>
                </div>

                <!-- Tab Contents -->
                <div id="tab-contents">
                    <div id="orgUnitChildren" class="wtl-hio-py-4">
                        <f:render partial="OrgUnit/Show/OrgUnitList" arguments="{children: orgUnit.details.children}"/>
                    </div>
                    <div id="orgUnitPersons" class="wtl-hio-hidden wtl-hio-py-4">
                        Personendaten... Coming soon!
                    </div>
                    <div id="orgUnitProjects" class="wtl-hio-hidden wtl-hio-py-4">
                        <f:render partial="OrgUnit/Show/ProjectList" arguments="{projects: orgUnit.projects}"/>
                    </div>
                    <div id="orgUnitPublications" class="wtl-hio-hidden wtl-hio-py-4">
                        <f:render partial="OrgUnit/Show/PublicationList" arguments="{publications: orgUnit.publications}"/>
                    </div>
                </div>
            </div>

            <f:asset.script identifier="orgunit-tab-toggler" position="footer" inline="true">
                let tabsContainer = document.querySelector("#tabs");
                let tabTogglers = tabsContainer.querySelectorAll("#tabs a");

                tabTogglers.forEach(function (toggler) {
                    toggler.addEventListener("click", function (e) {
                        e.preventDefault();

                        let tabName = this.getAttribute("href");
                        let tabContents = document.querySelector("#tab-contents");

                        for (let i = 0; i < tabContents.children.length; i++) {

                            tabTogglers[i].classList.remove("border-b-2", "-mb-px", "bg-white", "border-wtl-red", "text-wtl-red", "hover:text-wtl-red-dark", "hover:border-wtl-red");
                            tabTogglers[i].classList.add("text-gray-600", "hover:text-gray-700", "hover:border-b-2", "hover:border-gray-300");
                            tabContents.children[i].classList.remove("hidden");
                            if ("#" + tabContents.children[i].id === tabName) {
                                continue;
                            }
                            tabContents.children[i].classList.add("hidden");
                        }
                        e.target.classList.add("border-b-2", "-mb-px", "bg-white", "border-wtl-red", "text-wtl-red", "hover:text-wtl-red-dark", "hover:border-wtl-red");
                    });
                });

                let tabsMobileContainer = document.querySelector("#tabs-mobile");
                let tabOptions = tabsMobileContainer.querySelectorAll("#tabs-mobile option");
                tabsMobileContainer.addEventListener("change", function (e) {
                    e.preventDefault();

                    let tabName = this.value;
                    let tabContents = document.querySelector("#tab-contents");

                    tabOptions.forEach(option => option.removeAttribute("selected"));
                    for (let i = 0; i < tabContents.children.length; i++) {
                        tabContents.children[i].classList.remove("hidden");
                        if (tabContents.children[i].id === tabName) {
                            continue;
                        }
                        tabContents.children[i].classList.add("hidden");
                    }
                    e.target.setAttribute("selected", "selected");
                });
            </f:asset.script>

        </div>
    </f:if>
    <div class="wtl-hio-px-4 wtl-hio-py-5 sm:wtl-hio-p-6">
        <nav class="wtl-hio-flex wtl-hio-items-center wtl-hio-justify-between wtl-hio-border-t wtl-hio-border-gray-200 wtl-hio-px-4 sm:wtl-hio-px-0">
            <div class="wtl-hio--mt-px wtl-hio-flex wtl-hio-w-0 wtl-hio-flex-1">
                <f:link.action
                        action="index"
                        addQueryString="untrusted"
                        arguments="{currentPageNumber:currentPageNumber, filter:filter}"
                        class="wtl-hio-inline-flex wtl-hio-items-center wtl-hio-border-t-2 wtl-hio-border-transparent wtl-hio-pr-1 wtl-hio-pt-4 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-text-gray-500 hover:wtl-hio-border-gray-300 hover:wtl-hio-text-gray-700"
                >
                    <svg class="wtl-hio-mr-3 wtl-hio-h-5 wtl-hio-w-5 wtl-hio-text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                         data-slot="icon">
                        <path fill-rule="evenodd"
                              d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z"
                              clip-rule="evenodd"/>
                    </svg>
                    <f:translate key="ShowBackToList" extensionName="HioTypo3Connector"/>
                </f:link.action>
            </div>
        </nav>
    </div>

</f:section>

</html>
