<div class="wtl-hio-grid wtl-hio-grid-cols-2 wtl-hio-gap-4 wtl-hio-mb-4 wtl-hio-justify-items-stretch">
    <button
            type="submit"
            class="wtl-hio-order-last wtl-hio-rounded-md wtl-hio-bg-white wtl-hio-px-3 wtl-hio-py-2 wtl-hio-text-sm wtl-hio-font-semibold wtl-hio-text-gray-900 wtl-hio-outline wtl-hio-outline-1 wtl-hio--outline-offset-1 wtl-hio-outline-gray-300 hover:wtl-hio-bg-gray-50 focus:wtl-hio-relative focus:wtl-hio-outline focus:wtl-hio-outline-2 focus:wtl-hio--outline-offset-2 focus:wtl-hio-outline-wtl-red">
        <f:translate key="filter.button.apply"  extensionName="HioTypo3ConnectorWtl"/>
    </button>
    <f:form.button
            id="reset"
            type="submit"
            name="reset"
            property="reset"
            value="1"
            class="wtl-hio-order-first wtl-hio-rounded-md wtl-hio-bg-white wtl-hio-px-3 wtl-hio-py-2 wtl-hio-text-sm wtl-hio-font-semibold wtl-hio-text-gray-900 wtl-hio-outline wtl-hio-outline-1 wtl-hio--outline-offset-1 wtl-hio-outline-gray-300 hover:wtl-hio-bg-gray-50 focus:wtl-hio-relative focus:wtl-hio-outline focus:wtl-hio-outline-2 focus:wtl-hio--outline-offset-2 focus:wtl-hio-outline-wtl-red">
        <f:translate key="filter.button.reset" extensionName="HioTypo3ConnectorWtl"/>
    </f:form.button>
</div>