<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<div class="flex items-end justify-end  px-0">
    <div class="w-full max-w-xs">
        <f:form action="{action}" controller="{controller}" enctype="multipart/form-data">
            <div class="mt-2 flex">
                <div class="-mr-px grid grow grid-cols-1 focus-within:relative">
                    <f:form.textfield id="search" name="searchTerm" placeholder="{f:translate(key: 'search.placeholder')}" value="{searchTerm}" class="col-start-1 row-start-1 block w-full rounded-l-md bg-white py-1.5 pl-10 pr-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-wtl-red sm:pl-9 sm:text-sm/6" />
                </div>
                <f:form.submit value="{f:translate(key: 'search.button')}" class="flex shrink-0 items-center gap-x-1.5 rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 hover:bg-gray-50 focus:relative focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-wtl-red" />
            </div>
        </f:form>
    </div>
</div>

</html>
