<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{conference}">
    <p class="wtl-hio-mt-4 wtl-hio-text-base/7 wtl-hio-font-semibold wtl-hio-text-gray-600 wtl-hio-py-0"><f:translate key="hio.show.publication.conference.name" /></p>
    <h2 class="wtl-hio-mt-2 wtl-hio-text-pretty wtl-hio-text-2xl wtl-hio-font-semibold wtl-hio-tracking-tight wtl-hio-text-gray-900 sm:wtl-hio-text-3xl">{conference.name}</h2>
    <div class="wtl-hio-mt-6 wtl-hio-border-t wtl-hio-border-gray-100">
        <dl class="wtl-hio-divide-y wtl-hio-divide-gray-100">
            <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900"><f:translate key="hio.show.publication.conference.date" /></dt>
                <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">
                    {conference.startDate} - {conference.endDate}
                </dd>
            </div>
            <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900"><f:translate key="hio.show.publication.conference.language" /></dt>
                <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">
                    {conference.language}
                </dd>
            </div>
            <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900"><f:translate key="hio.show.publication.conference.type" /></dt>
                <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">
                    {conference.type}
                </dd>
            </div>

        </dl>
    </div>
</f:if>

</html>
