<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{person}">
    <li class="wtl-hio-flex wtl-hio-flex-wrap wtl-hio-items-center wtl-hio-justify-between wtl-hio-gap-x-6 wtl-hio-gap-y-4 wtl-hio-py-5 sm:wtl-hio-flex-nowrap">
        <div>
            <p class="wtl-hio-text-lg wtl-hio-font-semibold wtl-hio-leading-6 wtl-hio-text-gray-900 wtl-hio-py-0">
                <f:link.action
                        action="show"
                        arguments="{person: person.objectId, currentPageNumber: currentPageNumber, filter:filter, listAction:action}"
                        addQueryString="untrusted"
                        class="hover:wtl-hio-underline"
                >
                    {person.name}
                </f:link.action>
            </p>
            <p class="wtl-hio-py-0">
                <f:if condition="{person.publications -> f:count()} > 0">
                    <span class="wtl-hio-text-gray-700"><f:translate key="person.publications.count" />:&nbsp;{person.publications -> f:count()}</span>
                    <f:if condition="{person.projects -> f:count()} > 0">
                        <span>,&nbsp;</span>
                    </f:if>
                </f:if>
                <f:if condition="{person.projects -> f:count()} > 0">
                    <span class="wtl-hio-text-gray-700"><f:translate key="person.projects.count" />:&nbsp;{person.projects -> f:count()}</span>
                </f:if>
            </p>
        </div>
    </li>
</f:if>

</html>
