<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{publication}">
    <li class="wtl-hio-flex wtl-hio-flex-wrap wtl-hio-items-center wtl-hio-justify-between wtl-hio-gap-x-6 wtl-hio-gap-y-4 wtl-hio-py-5 sm:wtl-hio-flex-nowrap">
        <div>
            <p class="wtl-hio-text-sm wtl-hio-font-semibold wtl-hio-leading-6 wtl-hio-text-gray-700 wtl-hio-flex wtl-hio-flex-1 wtl-hio-items-center wtl-hio-py-0">
                <f:if condition="{publication.details.journal}">
                    <f:then>
                        {publication.details.journal.releaseYear}
                        <svg viewBox="0 0 2 2" class="wtl-hio-h-0.5 wtl-hio-w-0.5 wtl-hio-fill-current wtl-hio-mx-2">
                            <circle cx="1" cy="1" r="1"/>
                        </svg>
                    </f:then>
                </f:if>
                {publication.type}
            </p>
            <p class="wtl-hio-text-lg wtl-hio-font-semibold wtl-hio-leading-6 wtl-hio-text-gray-900 wtl-hio-py-0">
                <f:link.action
                        action="show"
                        arguments="{publication: publication.uid, currentPageNumber: currentPageNumber, filter:filter}"
                        addQueryString="untrusted"
                        class="hover:wtl-hio-underline"
                >
                    {publication.title}
                </f:link.action>
            </p>
            <f:if condition="{publication.details.persons}">
                <p class="wtl-hio-py-0 wtl-hio-mt-1">
                    <f:for each="{publication.details.persons}" as="person" key="personIndex">
                        <f:if condition="{personIndex} > 0">
                            <f:then>
                                <span class="wtl-hio-p-0">,&nbsp;<f:render partial="Publication/List/Person" arguments="{person: person}" /></span>
                            </f:then>
                            <f:else>
                                <span class="wtl-hio-p-0">
                                    <f:render partial="Publication/List/Person" arguments="{person: person}" />
                                </span>
                            </f:else>
                        </f:if>

                    </f:for>
                </p>
            </f:if>
        </div>
    </li>
</f:if>

</html>
