<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:hio="http://typo3.org/ns/Wtl/HioTypo3ConnectorWtl/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{publication}">
    <li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
        <div>
            <p class="hio-meta-line hio-meta-line--dot text-sm font-semibold leading-6 text-gray-700 flex flex-1 items-center py-0">
                <f:if condition="{publication.releaseYear}">
                    <span>{publication.releaseYear}</span>
                </f:if>
                <f:if condition="{publication.type}">
                    <span>{publication.type}</span>
                </f:if>
            </p>
            <p class="text-lg font-semibold leading-6 text-gray-900 py-0">
                <f:link.action
                        action="show"
                        arguments="{publication: publication.uid}"
                        class="hover:underline"
                >
                    {publication.title}
                </f:link.action>
            </p>
            <f:if condition="{publication.persons}">
                <p class="py-0 mt-1">
                    <f:for each="{publication.details.persons}" as="detailPerson" key="personIndex">
                        <f:variable name="basePerson" value="{hio:findByProperty(haystack: publication.persons, property: 'objectId', value: detailPerson.id)}"/>
                        <f:if condition="{personIndex} > 0">
                            <f:then>
                                <span class="p-0">,&nbsp;<f:render partial="Publication/List/Person" arguments="{person: detailPerson, uid: basePerson.uid }" /></span>
                            </f:then>
                            <f:else>
                                <span class="p-0">
                                    <f:render partial="Publication/List/Person" arguments="{person: detailPerson, uid: basePerson.uid}" />
                                </span>
                            </f:else>
                        </f:if>
                    </f:for>
                </p>
            </f:if>
        </div>
    </li>
</f:if>

</html>
