<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{person}">
    <f:if condition="{person.id} && {settings.publications.personTargetPageUid}">
        <f:then>
            <f:link.action action="show"
                           pageUid="{settings.publications.personTargetPageUid}"
                           controller="Person"
                           arguments="{person: person.id}"
                           class="wtl-hio-text-gray-700 wtl-hio-underline hover:wtl-hio-text-wtl-red-dark wtl-hio-px-0 wtl-hio-m-0">{person.name}</f:link.action>
        </f:then>
        <f:else>
            {person.name}
        </f:else>
    </f:if>
</f:if>

</html>
