<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{publication}">
    <f:if condition="{publication.details.citations} && {selectedCitationStyle}">
        <f:then>
            <f:render partial="SelectedPerson/Publication/Citation"
                      arguments="{citations: publication.details.citations, selectedCitationStyle: selectedCitationStyle}"/>
        </f:then>
        <f:else>
            <p class="flex items-left text-gray-700">
                <f:for each="{publication.details.persons}" as="person" key="personIndex">
                    <f:render partial="Publication/List/Person" arguments="{person: person}"/>
                    <span>,&nbsp;</span>
                </f:for>
                <strong>{publication.title}</strong><br/>
                <f:if condition="{publication.details.journal}">
                    <span>,&nbsp;</span>
                    <span class="text-gray-700">
                    {publication.details.journal.title}, {publication.details.journal.releaseYear}, S. {publication.details.journal.pageRange}
                   </span>
                </f:if>
            </p>
        </f:else>
    </f:if>
</f:if>

</html>
