<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{publication}">
    <f:if condition="{publication.details.citations} && {selectedCitationStyle}">
        <f:then>
            <f:render partial="SelectedPerson/Publication/Citation"
                      arguments="{citations: publication.details.citations, selectedCitationStyle: selectedCitationStyle}"/>
        </f:then>
        <f:else>
            <strong>{publication.title}</strong><br/>
            <f:if condition="{publication.details.persons}">
                    <span class="flex items-left text-gray-700">
                        <f:for each="{publication.details.persons}" as="person" key="personIndex">
                            <f:if condition="{personIndex} > 0"><f:then><span class="pr-2">,</span></f:then></f:if>
                            <f:render partial="Publication/List/Person" arguments="{person: person}"/>
                        </f:for>
                    </span>
            </f:if>
            <f:if condition="{publication.details.journal}">
                <f:if condition="{publication.details.persons}">
                    <span class="pr-2">,</span>
                </f:if>
                <span class="text-gray-700">
                    {publication.details.journal.title}, {publication.details.journal.releaseYear}, S. {publication.details.journal.pageRange}
                </span>
            </f:if>
        </f:else>
    </f:if>
</f:if>

</html>
