<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{staticstics}">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
            <f:for each="{statistics}" as="statistic">
            <div class="p-4 sm:w-1/4 w-1/2">
                <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">{statistic.count}</h2>
                <p class="leading-relaxed">{statistic.type}</p>
            </div>
            </f:for>
        </div>
    </div>
</f:if>

</html>
