<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{typeStats}">
    <div class="container px-5 py-6 border-b border-gray-200 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
            <f:for each="{typeStats}" as="typeStatistic">
            <div class="p-4 sm:w-auto w-1/2 sm:max-w-full max-w-xs">
                <p class="leading-relaxed font-normal">
                    {typeStatistic.type} ({typeStatistic.count})
                </p>
            </div>
            </f:for>
        </div>
    </div>
</f:if>

</html>
