<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{publications}">
    <f:then>
        <div class="max-w-3xl xl:max-w-5xl text-base/7">
            <f:groupedFor each="{publications}" as="publicationsOfThisType" groupBy="{settings.groupBy}"
                          groupKey="publicationType">
                <h4 class="mt-2 text-wtl-red-dark font-semibold">{publicationType}</h4>
                <ul class="list-none">
                    <f:for each="{publicationsOfThisType}" as="publication">
                        <li class="py-1">
                            <f:render partial="SelectedPerson/Publication/Item" arguments="{_all}"/>
                        </li>
                    </f:for>
                </ul>
            </f:groupedFor>
        </div>
    </f:then>
</f:if>

</html>
