<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<f:section name="Main">
    <f:flashMessages />

    <h1 class="wtl-hio-mt-2 wtl-hio-font-normal wtl-hio-text-3xl sm:wtl-hio-text-4xl wtl-hio-px-4">
        <f:translate key="project.index.title" extensionName="HioTypo3ConnectorWtl"/>
    </h1>

    <div class="wtl-hio-mx-auto wtl-hio-w-full wtl-hio-grow wtl-hio-flex wtl-hio-flex-col md:wtl-hio-flex-row wtl-hio-gap-4 wtl-hio-mb-4">

        <div class="wtl-hio-bg-white wtl-hio-grow wtl-hio-flex-1 xl:wtl-hio-flex wtl-hio-rounded">
            <div class="wtl-hio-px-4 wtl-hio-py-6 sm:wtl-hio-px-6 lg:wtl-hio-pl-8 xl:wtl-hio-flex-1 xl:wtl-hio-pl-6">
                <f:render
                    partial="Project/List"
                    arguments="{action:'index', pagination:pagination, paginator:paginator, filter:filter}" />
            </div>
        </div>

        <div class="wtl-hio-bg-white wtl-hio-shrink-0 wtl-hio-px-4 wtl-hio-py-6 sm:wtl-hio-px-6 lg:wtl-hio-w-96 lg:wtl-hio-pr-8 xl:wtl-hio-pr-6 wtl-hio-rounded wtl-hio-order-first sm:wtl-hio-order-last">
            <f:render partial="Project/List/Filter" arguments="{action:'index', controller:'Project', filter:filter, typeOptions:typeOptions, statusOptions:statusOptions}" />
        </div>
    </div>
</f:section>

</html>
