<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<f:section name="Main">
    <f:flashMessages />
    <div class="tx-hio-typo3-connector">
        <f:render partial="List/SearchForm" arguments="{action:'search', controller:'Publication', searchWord:searchWord}" />
        <f:render partial="Publication/List" arguments="{pagination:pagination, paginator:paginator, action:'index', searchWord:searchWord}" />
    </div>
</f:section>

</html>
