<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<f:section name="Main">
    <f:flashMessages />
    <f:if condition="{publication.details}">
        <div class="wtl-hio-flex wtl-hio-items-stretch wtl-hio-justify-between wtl-hio-py-4 wtl-hio-px-0">
            <h1 class="wtl-hio-mt-2 wtl-hio-font-normal wtl-hio-text-3xl sm:wtl-hio-text-4xl wtl-hio-px-4">
                <f:translate key="publication.show.title" extensionName="HioTypo3ConnectorWtl"/>
            </h1>
        </div>
        <div class="wtl-hio-bg-white wtl-hio-px-4 wtl-hio-py-6 lg:wtl-hio-p-8">
            <div class="wtl-hio-px-0">
                <p class="wtl-hio-text-base/7 wtl-hio-font-semibold wtl-hio-text-gray-600 wtl-hio-py-0">
                    {publication.details.type}
                    &middot;
                    {publication.details.resource}
                    &middot;
                    {publication.details.status}
                </p>
                <h1 class="wtl-hio-mt-2 wtl-hio-text-pretty wtl-hio-text-4xl wtl-hio-font-semibold wtl-hio-tracking-tight wtl-hio-text-gray-900 sm:wtl-hio-text-5xl">{publication.details.title}</h1>
                <f:if condition="{publication.details.subtitle}">
                    <p class="wtl-hio-mt-1 wtl-hio-max-w-2xl wtl-hio-text-xl/8 wtl-hio-text-gray-500 wtl-hio-py-0">{publication.details.subtitle}</p>
                </f:if>
                <f:if condition="{publication.details.abstract}">
                    <p class="wtl-hio-mt-4 wtl-hio-text-lg/6 wtl-hio-text-gray-700 wtl-hio-py-0">{publication.details.abstract}</p>
                </f:if>
            </div>
            <div class="wtl-hio-mt-6 wtl-hio-border-t wtl-hio-border-gray-100">
                <dl class="wtl-hio-divide-y wtl-hio-divide-gray-100">
                    <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                        <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900">
                            <f:if condition="{publication.details.persons -> f:count()} == 1">
                                <f:then><f:translate key="hio.show.publication.author" /></f:then>
                                <f:else><f:translate key="hio.show.publication.authors" /></f:else>
                            </f:if>
                        </dt>
                        <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">
                            <f:for each="{publication.details.persons}" as="person" key="index">
                                <f:render partial="Publication/Show/PersonLink" arguments="{person: person}" />
                            </f:for>
                        </dd>
                    </div>
                    <f:if condition="{publication.details.journal}">
                        <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                            <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900"><f:translate key="hio.show.publication.journal" /></dt>
                            <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">{publication.details.journal.title}</dd>
                        </div>
                    </f:if>
                    <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                        <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900"><f:translate key="hio.show.publication.globalIdentifiers.doi" /></dt>
                        <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">
                            <f:for each="{publication.details.globalIdentifiers}" as="identifier">
                                <f:if condition="{identifier.type} == 'DOI'">
                                    <f:then><a href="https://doi.org/{identifier.id}">{identifier.id}</a></f:then>
                                </f:if>
                            </f:for>
                        </dd>
                    </div>
                    <f:if condition="{publication.details.keywords}">
                        <div class="wtl-hio-py-6 sm:wtl-hio-grid sm:wtl-hio-grid-cols-3 sm:wtl-hio-gap-4">
                            <dt class="wtl-hio-text-sm/6 wtl-hio-font-medium wtl-hio-text-gray-900">
                                <f:if condition="{publication.details.keywords -> f:count()} == 1">
                                    <f:then><f:translate key="hio.show.publication.keyword" /></f:then>
                                    <f:else><f:translate key="hio.show.publication.keywords" /></f:else>
                                </f:if>
                            </dt>
                            <dd class="wtl-hio-mt-1 wtl-hio-text-sm/6 wtl-hio-text-gray-700 sm:wtl-hio-col-span-2 sm:wtl-hio-mt-0">
                                <f:for each="{publication.details.keywords}" as="keyword" key="index">
                                    <span class="wtl-hio-inline-flex wtl-hio-items-center wtl-hio-rounded-md wtl-hio-bg-gray-50 wtl-hio-px-2 wtl-hio-py-1 wtl-hio-mb-2 wtl-hio-mr-1 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-text-gray-600 wtl-hio-ring-1 wtl-hio-ring-inset wtl-hio-ring-gray-500/10">{keyword}</span>
                                </f:for>
                            </dd>
                        </div>
                    </f:if>
                </dl>
            </div>

            <f:if condition="{publication.details.conference}">
                <f:then>
                    <f:render partial="Publication/Show/Conference" arguments="{conference: publication.details.conference}" />
                </f:then>
            </f:if>

            <f:if condition="{publication.details.journal}">
                <f:then>
                    <f:render partial="Publication/Show/Journal" arguments="{journal: publication.details.journal}" />
                </f:then>
            </f:if>

            <f:if condition="{publication.details.dynamicObjects}">
                <f:then>
                    <f:render partial="DynamicObjects" arguments="{dynamicObjects: publication.details.dynamicObjects}" />
                </f:then>
            </f:if>
        </div>
    </f:if>

    <div class="wtl-hio-px-4 wtl-hio-py-5 sm:wtl-hio-p-6">
    <nav class="wtl-hio-flex wtl-hio-items-center wtl-hio-justify-between wtl-hio-border-t wtl-hio-border-gray-200 wtl-hio-px-4 sm:wtl-hio-px-0">
        <div class="wtl-hio--mt-px wtl-hio-flex wtl-hio-w-0 wtl-hio-flex-1">
            <f:link.action
                    action="index"
                    addQueryString="untrusted"
                    arguments="{currentPageNumber:currentPageNumber, filter:filter}"
                    class="wtl-hio-inline-flex wtl-hio-items-center wtl-hio-border-t-2 wtl-hio-border-transparent wtl-hio-pr-1 wtl-hio-pt-4 wtl-hio-text-sm wtl-hio-font-medium wtl-hio-text-gray-500 hover:wtl-hio-border-gray-300 hover:wtl-hio-text-gray-700"
            >
                <svg class="wtl-hio-mr-3 wtl-hio-h-5 wtl-hio-w-5 wtl-hio-text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z" clip-rule="evenodd" />
                </svg>
                <f:translate key="ShowBackToList" extensionName="HioTypo3Connector" />
            </f:link.action>
        </div>
    </nav>
    </div>
</f:section>

</html>
