<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{project.details}">
    <li class="wtl-hio-flex wtl-hio-flex-wrap wtl-hio-items-center wtl-hio-justify-between wtl-hio-gap-x-6 wtl-hio-gap-y-4 wtl-hio-py-5 sm:wtl-hio-flex-nowrap">
        <div>
            <p class="wtl-hio-text-sm wtl-hio-font-semibold wtl-hio-leading-6 wtl-hio-text-gray-700 wtl-hio-flex wtl-hio-flex-1 wtl-hio-items-center wtl-hio-py-0">
                <f:for each="{project.details.researchAreas}" as="researchArea" key="index">
                    <span>
                        <f:if condition="{index} > 0">
                            <f:then>, {researchArea}</f:then>
                            <f:else>{researchArea}</f:else>
                        </f:if>
                    </span>
                </f:for>
            </p>
            <p class="wtl-hio-text-lg wtl-hio-font-semibold wtl-hio-leading-6 wtl-hio-text-gray-900 wtl-hio-py-0">
                <f:link.action
                        action="show"
                        addQueryString="untrusted"
                        arguments="{project: project.uid, currentPageNumber: currentPageNumber, filter:filter}"
                        class="hover:wtl-hio-underline"
                >
                    {project.title}
                </f:link.action>
            </p>
            <div class="wtl-hio-mt-1 wtl-hio-flex wtl-hio-items-center wtl-hio-gap-x-2 wtl-hio-text-xs wtl-hio-leading-5 wtl-hio-text-gray-500">
                <p class="wtl-hio-py-0">
                    <f:translate key="hio.list.project.startDate" />: <f:format.date format="d.m.Y" >{project.details.startDate}</f:format.date>
                </p>
                <svg viewBox="0 0 2 2" class="wtl-hio-h-0.5 wtl-hio-w-0.5 wtl-hio-fill-current">
                    <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="wtl-hio-py-0">
                    <f:translate key="hio.list.project.status" />: {project.details.status}
                </p>
                <svg viewBox="0 0 2 2" class="wtl-hio-h-0.5 wtl-hio-w-0.5 wtl-hio-fill-current">
                    <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="wtl-hio-py-0">
                    <f:translate key="hio.list.project.visibility" />: {project.details.visibility}
                </p>
            </div>
        </div>
    </li>
</f:if>

</html>
