<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<div class="wtl-hio-mx-auto wtl-hio-max-w-2xl lg:wtl-hio-mx-0 lg:wtl-hio-max-w-none dark:wtl-hio-divide-white/10">
    <f:for each="{person.orgUnits}" as="orgUnit">
        <div class="wtl-hio-grid wtl-hio-gap-6 lg:wtl-hio-grid-cols-3 wtl-hio-mb-2">
            <div>
                <h3 class="wtl-hio-font-medium wtl-hio-text-xl sm:wtl-hio-text-2xl wtl-hio-text-gray-900">
                    {orgUnit.title}
                </h3>
                <f:if condition="{person.details.orgUnits}">
                <f:for each="{person.details.orgUnits}" as="personOrgUnit">
                    <f:if condition="{personOrgUnit.id} == {orgUnit.objectId}">
                        <p class="wtl-hio-font-semibold wtl-hio-text-base wtl-hio-text-gray-600"><span class="wtl-hio-font-normal">Funktion:</span> {personOrgUnit.affiliation}</p>
                    </f:if>
                </f:for>
                </f:if>
            </div>
            <f:if condition="{orgUnit.details.address}">
                <div class="wtl-hio-grid wtl-hio-grid-cols-1 wtl-hio-gap-6 sm:wtl-hio-grid-cols-2 lg:wtl-hio-col-span-2 lg:wtl-hio-gap-6 wtl-hio-mb-6">
                    <div class="wtl-hio-rounded-2xl wtl-hio-bg-gray-50 wtl-hio-p-6 dark:wtl-hio-bg-gray-800/50">
                        <h3 class="wtl-hio-text-base/7 wtl-hio-font-semibold wtl-hio-text-gray-900">Postanschrift</h3>
                        <dl class="wtl-hio-mt-3 wtl-hio-space-y-1 wtl-hio-text-sm wtl-hio-text-gray-600">
                            <div>
                                <dt class="wtl-hio-sr-only">Adresse</dt>
                                <dd>
                                    {orgUnit.details.address.street} <br>
                                    {orgUnit.details.address.postcode} {orgUnit.details.address.city}
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <div class="wtl-hio-rounded-2xl wtl-hio-bg-gray-50 wtl-hio-p-6">
                        <h3 class="wtl-hio-text-base/7 wtl-hio-font-semibold wtl-hio-text-gray-900">Kontakt</h3>
                        <dl class="wtl-hio-mt-3 wtl-hio-space-y-1 wtl-hio-text-sm wtl-hio-text-gray-600">
                            <f:for each="{orgUnit.details.contactData}" as="contact">
                                <div>
                                    <f:render partial="Person/Address/EAddress" arguments="{contact: contact}"/>
                                </div>
                            </f:for>
                        </dl>
                    </div>
                </div>
            </f:if>
        </div>
    </f:for>
</div>

</html>
