<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{projectStatusStatistics}">
    <div class="wtl-hio-container wtl-hio-border-b wtl-hio-border-gray-200 wtl-hio-mx-auto wtl-hio-pb-4">
        <h3 class="wtl-hio-text-2xl xl:wtl-hio-text-3xl wtl-hio-mb-6 wtl-hio-font-semibold wtl-hio-text-left">
            <f:translate key="hio.show.person.projectStatusStats" extensionName="HioTypo3ConnectorWtl" />
        </h3>
        <div class="wtl-hio-flex wtl-hio-flex-wrap wtl-hio--m-4 wtl-hio-mb-3 wtl-hio-text-left">
            <f:for each="{projectStatusStatistics}" as="statusValue" key="statusName">
                <div class="wtl-hio-px-4 wtl-hio-w-1/2">
                    <p class="wtl-hio-leading-relaxed wtl-hio-font-normal wtl-hio-py-1">
                        {statusName} ({statusValue})
                    </p>
                </div>
            </f:for>
        </div>
    </div>
</f:if>

</html>
