<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<f:section name="Main">
    <f:flashMessages />
    <div class="tx-hio-typo3-connector">
        <f:form action="search" controller="Doctorate" enctype="multipart/form-data">
            <f:form.textfield id="search" name="searchWord" placeholder="Search..." value="{searchWord}" />
            <f:form.submit value="Search" />
        </f:form>
        <f:render partial="Doctorate/List" arguments="{pagination:pagination, paginator:paginator}" />
    </div>
</f:section>

</html>